* {
    margin: 0;
    padding: 0;
    border: none;

}

body {
     font-family: Arial, Helvetica, sans-serif;
    background-color:#A7D5D3;
    font-weight: 300;
    color: black ;
}

h1, h2 { 
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: black;
    text-align: center;
}

#logo  { 
    float:left;
    font-size: 300%;
    margin-left: 100px;
}

#menu { 
    font-size: 100%;
    letter-spacing: 2px;

}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
    
}

#menu a {
    text-decoration: none;
    color: white;


}

#menu, #logo { 
    line-height: 75px;
}

#menu a:hover {
    border-bottom: 2px solid black;

}

.active { 
    border-bottom: 2px solid black;


}
#hero-img {
   height:800px;
   width:100%;
   background: url(../images/hero\ image.jpeg)  no-repeat center center;
   top: 0;
   left: 0;
   bottom:0;
   right: 0;
   opacity: 0.35;

}

#hero-outer { 
    height:700px;
    width:100%;
    overflow: hidden;
}

.text-box {
    width:80%;
    color: #57929A;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align:center;
}

.text-box h1 {
    font-size: 60px;
}

.text-box p {
margin: 10px 0 50px;
font-size: 20px;
color: black;
}
   
 .hero-button {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 13px 35px; 
    font-size: 16px;
    background: black;
    position: relative;
    cursor: pointer;
 }   

 @media(max-width: 700px) {
    .text-box h1 
    font-size: 20px;

 }



