@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;

}

body {
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:#A7D5D3;
    font-weight: 300;
    color: black ;
}

h1, h2 { 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
    text-align: center;
    text-decoration:none ;
    margin: auto;
}

#logo  { 
    text-align: center;
    font-size: 300%;
    margin-left: 100px;
    text-decoration: none;
    color: black;
}

#logo a { text-decoration: none; border-bottom:1px solid black; }

#menu { 
    font-size: 100%;
    letter-spacing: 2px;

}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
    
}

#menu a {
    text-decoration: none;
    color: white;


}

#menu, #logo { 
    line-height: 75px;
}

#menu a:hover {
    border-bottom: 2px solid black;

}





#hero-img {
   height:800px;
   width:100%;
   background: url(../images/hero\ image.jpeg)  no-repeat center center;
   top: 0;
   left: 0;
   bottom:0;
   right: 0;
   opacity: 0.35;

}



#hero-outer { 
    height:700px;
    width:100%;
    overflow: hidden;
}

.text-box {
    width:80%;
    color: #57929A;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align:center;
}

.text-box h1 {
    font-size: 60px;
}

.text-box p {
margin: 10px 0 50px;
font-size: 20px;
color: black;
}
   
.hero-btn { 
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 12px 35px;
    font-size: 16px;
    background: transparent;
    position: relative;
  text-align: center;
}

.hero-btn:hover { 

    border: 1px solid white;
    background: #B2A490;
    transition: 2s;
}

 @media(max-width: 700px) {
    .text-box h1 
     font-size:20px;
     

 }

 footer. {

    height: 200px;
 }

.social-media { 
    text-align: center;
}

.social-media > li {
    display: inline;
}

.social-media i {
    font-size: 200%;
    margin: 2%;
    padding: 5%;
    color: black;

}

.social-media p {
    font-size: 15px;
    color: black;
    text-align: center;
}

#photos { 
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
    width: 5%;
    height: 10%;
    object-fit: contain;
}

.container {
    padding: 16px;
  }
  

  input[type=text], input[type=fname] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=fname]:focus {
    background-color: #ddd;
    outline: none;
  }
  

  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  

  .registerbtn {
    background-color: #5E8485;
    color: white;
    padding: 14px 20px;
    margin: 7px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.8;
  }
  
  .registerbtn:hover {
    opacity:1;
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  